.header-conatiner{
    /* display: flex; */
    background-color: #3d0b37ff;
    color: whitesmoke;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    height: 9vh;
}

.userImage{
    height: 40px;
    width: 40px;
}

/* .userAuth{
    font-size: 5rem;
} */


.loginLink{
    font-size: 1.5rem;
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Inconsolata', monospace;
}

.header-title{
    font-family: 'Great Vibes', cursive;

}
